* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.one {
    display: flex;


    /* margin: 5%; */
}

.top-letter {
    width: 50%;
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 90px;
}

.one-h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.para1{
    margin-bottom: 55px;

}

.order-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 35px;
    margin-top: 10px;
    border-radius: 25px;
    color: white;
}

.top-img {
    width: 50%;
    margin-right: 5%;
}

.top-img img {
    width: 90%;
}

/******************************************************************/

.tow{
    display: flex;
    /* background-image: url(images/bg.png) ; */
    background-color: rgba(238, 169, 137, 0.582);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.girl-img{
    width: 60%;
    margin-top: 40px;
    margin-left: 10%;
}
.girl-img img{
    width: 40%;
}

.letter-tow{

width: 50%;
margin-top: 40px;
margin-right: 10%;
margin-bottom: 60px;

}


/*********************************************************************/


.recipies{
    text-align: center;
    margin: 80px 200px 0 200px;
}





.food{
    display: flex;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    text-align: center;


}

.food1{
    width: 50%;
    box-shadow: 12px 12px 40px rgb(155, 154, 154);
    margin-right: 5%;
    border-radius: 30px;
}


.food2{
    width: 50%;
    box-shadow: 12px 12px 40px rgb(155, 154, 154);
    border-radius: 5%;
}


.img-rec{
    margin-top: 25px;
    width: 90%;
}

.food1 h1{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 30px 0 30px;
    text-align: left;
}

.food1 p{
    margin: 05px 30px 40px 30px;
    text-align: left;
}


.food2 h1{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 30px 0 30px;
    text-align: left;
}

.food2 p{
    margin: 05px 30px 40px 30px;
    text-align: left;
}


/*********************************************************************/


.followers{
    display: flex;
    margin: 10% 10% 5% 10%;
    box-shadow: 12px 12px 40px rgb(163, 163, 163) ;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.followers div{
    padding: 60px;  
}

/********************************************************************/

footer{
    background-color: rgb(15, 22, 29);
    width: 100%;
    height: 180px;
    text-align: center;
    margin-top: 10%;
}

.gray{
    color: gray;
}

footer h2{
    padding-top: 35px;
    padding-bottom: 15px;
}

footer p{
    color: rgb(121, 128, 143);
    font-size: 12px;
}
